extends layout

block content
    p Welcome to category section.

    a(href="/") return to overview

    dl
        each item in item_list
            dt
                a(href=item.url) #{item.name}
            dd
                p #{item.description}